In [2]:
import pandas as pd

pd.__version__

'1.2.4'

In [3]:
aluguel = pd.read_csv("dados/aluguel.csv", sep=";")

In [4]:
aluguel.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [5]:
a = pd.DataFrame(aluguel.dtypes)
a.columns = ["Tipo de Dados"]
a.columns.name = "Variáveis"

print(a)

Variáveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [6]:
pd.read_html("https://en.wikipedia.org/wiki/National_Basketball_Association")[3]

,Conference,Division,Team,Location,Arena,Capacity,Coordinates,Founded,Joined
0,Eastern Conference,Atlantic,Boston Celtics,"Boston, Massachusetts",TD Garden,19156,".mw-parser-output .geo-default,.mw-parser-outp...",1946,1946
1,Eastern Conference,Atlantic,Brooklyn Nets,"New York City, New York",Barclays Center,17732,40°40′58″N 73°58′29″W﻿ / ﻿40.68265°N 73.974689°W,1967*,1976
2,Eastern Conference,Atlantic,New York Knicks,"New York City, New York",Madison Square Garden,19812,40°45′02″N 73°59′37″W﻿ / ﻿40.750556°N 73.993611°W,1946,1946
3,Eastern Conference,Atlantic,Philadelphia 76ers,"Philadelphia, Pennsylvania",Wells Fargo Center,20478,39°54′04″N 75°10′19″W﻿ / ﻿39.901111°N 75.171944°W,1946*,1949
4,Eastern Conference,Atlantic,Toronto Raptors,"Toronto, Ontario",Scotiabank Arena,19800,43°38′36″N 79°22′45″W﻿ / ﻿43.643333°N 79.379167°W,1995,1995
5,Eastern Conference,Central,Chicago Bulls,"Chicago, Illinois",United Center,20917,41°52′50″N 87°40′27″W﻿ / ﻿41.880556°N 87.674167°W,1966,1966
6,Eastern Conference,Central,Cleveland Cavaliers,"Cleveland, Ohio",Rocket Mortgage FieldHouse,19432,41°29′47″N 81°41′17″W﻿ / ﻿41.496389°N 81.688056°W,1970,1970
7,Eastern Conference,Central,Detroit Pistons,"Detroit, Michigan",Little Caesars Arena,20332,42°20′28″N 83°03′18″W﻿ / ﻿42.341111°N 83.055°W,1941*,1948
8,Eastern Conference,Central,Indiana Pacers,"Indianapolis, Indiana",Gainbridge Fieldhouse,17923,39°45′50″N 86°09′20″W﻿ / ﻿39.763889°N 86.155556°W,1967,1976
9,Eastern Conference,Central,Milwaukee Bucks,"Milwaukee, Wisconsin",Fiserv Forum,17341,43°02′37″N 87°55′01″W﻿ / ﻿43.043611°N 87.916944°W,1968,1968
10,Eastern Conference,Southeast,Atlanta Hawks,"Atlanta, Georgia",State Farm Arena,16600,33°45′26″N 84°23′47″W﻿ / ﻿33.757222°N 84.396389°W,1946*,1949
11,Eastern Conference,Southeast,Charlotte Hornets,"Charlotte, North Carolina",Spectrum Center,19077,35°13′30″N 80°50′21″W﻿ / ﻿35.225°N 80.839167°W,1988*,1988*
12,Eastern Conference,Southeast,Miami Heat,"Miami, Florida",Kaseya Center,19600,25°46′53″N 80°11′17″W﻿ / ﻿25.781389°N 80.188056°W,1988,1988
13,Eastern Conference,Southeast,Orlando Magic,"Orlando, Florida",Amway Center,18846,28°32′21″N 81°23′01″W﻿ / ﻿28.539167°N 81.383611°W,1989,1989
14,Eastern Conference,Southeast,Washington Wizards,"Washington, D.C.",Capital One Arena,20356,38°53′53″N 77°01′15″W﻿ / ﻿38.898056°N 77.020833°W,1961*,1961*
15,Western Conference,Northwest,Denver Nuggets,"Denver, Colorado",Ball Arena,19520,39°44′55″N 105°00′27″W﻿ / ﻿39.748611°N 105.0075°W,1967,1976
16,Western Conference,Northwest,Minnesota Timberwolves,"Minneapolis, Minnesota",Target Center,18798,44°58′46″N 93°16′34″W﻿ / ﻿44.979444°N 93.276111°W,1989,1989
17,Western Conference,Northwest,Oklahoma City Thunder,"Oklahoma City, Oklahoma",Paycom Center,18203,35°27′48″N 97°30′54″W﻿ / ﻿35.463333°N 97.515°W,1967*,1967*
18,Western Conference,Northwest,Portland Trail Blazers,"Portland, Oregon",Moda Center,19393,45°31′54″N 122°40′00″W﻿ / ﻿45.531667°N 122.666...,1970,1970
19,Western Conference,Northwest,Utah Jazz,"Salt Lake City, Utah",Delta Center,18306,40°46′06″N 111°54′04″W﻿ / ﻿40.768333°N 111.901...,1974*,1974*
20,Western Conference,Pacific,Golden State Warriors,"San Francisco, California",Chase Center,18064,37°46′05″N 122°23′15″W﻿ / ﻿37.768056°N 122.3875°W,1946*,1946*
21,Western Conference,Pacific,Los Angeles Clippers,"Los Angeles, California",Crypto.com Arena,19079,34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...,1970*,1970*
22,Western Conference,Pacific,Los Angeles Lakers,"Los Angeles, California",Crypto.com Arena,19079,34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...,1947*,1948
23,Western Conference,Pacific,Phoenix Suns,"Phoenix, Arizona",Footprint Center,16645,33°26′45″N 112°04′17″W﻿ / ﻿33.445833°N 112.071...,1968,1968
24,Western Conference,Pacific,Sacramento Kings,"Sacramento, California",Golden 1 Center,17608,38°38′57″N 121°31′05″W﻿ / ﻿38.649167°N 121.518...,1923*,1948
25,Western Conference,Southwest,Dallas Mavericks,"Dallas, Texas",American Airlines Center,19200,32°47′26″N 96°48′37″W﻿ / ﻿32.790556°N 96.810278°W,1980,1980
26,Western Conference,Southwest,Houston Rockets,"Houston, Texas",Toyota Center,18055,29°45′03″N 95°21′44″W﻿ / ﻿29.750833°N 95.362222°W,1967*,1967*
27,Western Conference,Southwest,Memphis Grizzlies,"Memphis, Tennessee",FedExForum,18119,35°08′18″N 90°03′02″W﻿ / ﻿35.138333°N 90.050556°W,1995*,1995*
28,Western Conference,Southwest,New Orleans Pelicans,"New Orleans, Louisiana",Smoothie King Center,16867,29°56′56″N 90°04′55″W﻿ / ﻿29.948889°N 90.081944°W,2002*,2002*
29,Western Conference,Southwest,San Antonio Spurs,"San Antonio, Texas",Frost Bank Center,18418,29°25′37″N 98°26′15″W﻿ / ﻿29.426944°N 98.4375°W,1967*,1976

In [14]:
df = pd.DataFrame({
    "Coluna1": [1, 2, 3],
    "Coluna2": [4, 5, 6]
})


df

   Coluna1  Coluna2
0        1        4
1        2        5
2        3        6

In [18]:
df[df > 4] = 9

df

TypeError: '>' not supported between instances of 'str' and 'int'