In [18]:
import pandas as pd

In [19]:
data = [[1,2,3], [4,5,6], [7,8,9]]

In [20]:
df = pd.DataFrame(data, list("321"), list("ZAX"))

df

   Z  A  X
3  1  2  3
2  4  5  6
1  7  8  9

In [21]:
index_sorted_df = df.sort_index()

index_sorted_df

   Z  A  X
1  7  8  9
2  4  5  6
3  1  2  3

In [22]:
column_sorted_df = df.sort_index(axis=1)

column_sorted_df

   A  X  Z
3  2  3  1
2  5  6  4
1  8  9  7

In [23]:
full_sorted_df = df.sort_index().sort_index(axis=1)

full_sorted_df

   A  X  Z
1  8  9  7
2  5  6  4
3  2  3  1

In [32]:
sorted_by_column = full_sorted_df.sort_values(by=["X"])

sorted_by_column

   A  X  Z
3  2  3  1
2  5  6  4
1  8  9  7